/* #dfb348 */

.srv-box:hover .srv-content-box i,
.portfolio-categories li a.active,
.why-us-content-box i,
.team-details h3,
.team-details ul li a,
.entry-content > a:hover, 
.type-post:hover .entry-title a:hover,
.entry-meta > div a i,
.ownavigation .dropdown-menu li:hover > a, 
.ownavigation .dropdown-menu li > a:hover,
.blog-post .entry-content h4 span,
.comment-metadata a:hover, 
.comment-list .reply a:hover { 
	color: #dfb348;
}

.section-header h3::before, 
.section-header h3::after,
#ventajas-monterrey::before,
#ventajas-monterrey::after,
.srv-content-box i,
.srv-content-box h4::before,
.portfolio-box h3::before, 
.portfolio-box h3::after,
.features-content,
.why-us-content-box i::after, 
.why-us-content-box h3::after,
.process-detail-box::after,
.video-section::after,
.team-details h3::before,
.team-details ul li a:hover,
.app-content,
.app-content::after,
.free-services-detail,
.testimonial-section .testimonial-main,
.price-box:hover h3, 
.price-box:hover h4::before, 
.price-box:hover h4::after,
.price-box a:hover,
.contact-section::after,
.contact-form,
.footer-section ul li a:hover,
.page-banner {
	background-color: #5cb200;
}

.srv-box .srv-content-box i{
  opacity: 0.80;
}

.srv-box::before{
  border-color: #0052ba;
  background-color: #fff;
}

.srv-box:hover .srv-content-box i,
.portfolio-box a::before,
.team-box::before,
.team-details ul li a:hover,
.price-box:hover, 
.price-box:hover::before,
.footer-section ul li a:hover {
  border-color: #0052ba;
  background-color: #0052ba;
  opacity: 0.80;
}

.team-details ul li a {
	border-color: rgba(236,169,40,0.1);
}

.testimonial-section .carousel-indicators li {
	background-color: #ecc478;
}

.portfolio-box a::before,.portfolio-box a::after{
	display: none!important;
}

/* - min-width: 992 */
@media (min-width: 992px) {

}

/* - max-width: 991 */
@media (max-width: 991px) {
	.ownavigation .navbar-toggle {
		border-color: #dfb348;
	}
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover, 
	.navbar-fixed-top .ownavigation .navbar-toggle .icon-bar,
	.ownavigation .navbar-toggle .icon-bar, 
	.navbar-fixed-top .ownavigation .navbar-toggle:focus, 
	.navbar-fixed-top .ownavigation .navbar-toggle:hover, 
	.ownavigation .navbar-default .navbar-toggle:focus, 
	.ownavigation .navbar-default .navbar-toggle:hover, 
	.ownavigation .navbar-toggle:hover,
	.ownavigation .ddl-switch {
		background-color: #000;
	}
	
	.ownavigation .nav.navbar-nav > li.active > a, 
	.ownavigation .nav.navbar-nav > li.active:hover > a, 
	.ownavigation .nav.navbar-nav > li.active:focus > a, 
	.ownavigation .nav.navbar-nav > li:hover > a, 
	.ownavigation .nav.navbar-nav > li:focus > a, 
	.ownavigation .nav.navbar-nav > li > a:hover, 
	.ownavigation .nav.navbar-nav > li > a:focus, 
	.ownavigation .dropdown-menu li:hover > a, 
	.ownavigation .dropdown-menu li > a:hover {
		color: #000;
	}
}

/* - max-width: 767 */
@media (max-width: 767px) {
	.why-us-details.owl-theme .owl-controls .owl-nav [class*="owl-"],
	.application-section .application-main > a:hover,
	.blog-right.owl-theme .owl-controls .owl-nav [class*="owl-"] {
		background-color: #dfb348;
	}
	.application-section .application-main > a:hover { 
		border-color: #dfb348;
	}
	.app-content {
		background-color: transparent; 
	}
}

/* - max-width: 479 */
@media (max-width: 479px) {	
	.why-us-box::before { 
		border-color: #dfb348;
	}
}