html[dir="rtl"] .header-section .ownavigation .navbar-nav,
html[dir="rtl"] .slider-section .carousel-caption ul,
html[dir="rtl"] .portfolio-categories,
html[dir="rtl"] .team-details ul,
html[dir="rtl"] .price-box ul,
html[dir="rtl"] .testimonial-section .carousel-indicators,
html[dir="rtl"] .footer-section ul,
html[dir="rtl"] .comment-list {
	padding-right: 0;
}
html[dir="rtl"] .slider-section .carousel-caption ul li:first-child::after {
	content: "|";
}
html[dir="rtl"] .slider-section .carousel-caption ul li:last-child::after {
	content: "";
}

html[dir="rtl"] .entry-meta,
html[dir="rtl"] .entry-meta > div {
	float: right;
}
html[dir="rtl"] .entry-meta > div:last-child {
	margin-right: 10px;
	padding-right: 10px;	
	border-right: 1px solid #2C2B2B;
}
html[dir="rtl"] .entry-meta > div:first-child {
	margin-right: 0;
	padding-right: 0;	
	border-right: none;
}

html[dir="rtl"] .fact-box {
	padding-left: 0;
	padding-right: 90px;
}
html[dir="rtl"] .fact-box span,
html[dir="rtl"] .fact-box h2::before {
	left: auto;
	right: 0;
}

html[dir="rtl"] .blog-post .entry-content h4::before {
	left: auto;
	right: 0;
}
html[dir="rtl"] .comment-list .children {
	margin-left: 0;
	margin-right: 40px;
	padding-left: 0;
	padding-right: 40px;
}
html[dir="rtl"] .comment-body {
	padding-left: 60px;
	padding-right: 100px;
}
html[dir="rtl"] .comment-author .avatar {
	left: auto;
	right: -30px;
}
html[dir="rtl"] .comment-list .children > li {
	padding-left: 0;
	padding-right: 0.5em;
}
html[dir="rtl"] .comment-list .children .comment-body::before {
	border-left: none;
	border-right: 10px solid #000;
	left: 0;
	right: -60px;
}

/*------------------------------------------------------------------
	- Responsive
-------------------------------------------------------------------*/
/* - min-width: 992 */
@media (min-width: 992px) {	
	html[dir="rtl"] .header-section .ownavigation .navbar-header {
		float: right;
	}
	html[dir="rtl"] .header-section .ownavigation .navbar-nav {
		float: left;
	}
	html[dir="rtl"] .ownavigation .nav.navbar-nav > li:last-child > a {
		padding-right: 11px;
		padding-left: 0;
	}
	html[dir="rtl"] .ownavigation .nav.navbar-nav > li:last-child {
		margin-left: 0;
		margin-right: 5px;
	}
	html[dir="rtl"] .ownavigation ul > li > .dropdown-menu {
		right: 0; 
		text-align: right;
	}
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child > .dropdown-menu,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) > .dropdown-menu {
		left: 0; 
	}
	html[dir="rtl"] .ownavigation ul > li > .dropdown-menu,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul ul ul ul ul ul {
		left: auto;
	}
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul ul ul ul ul ul {
		right: 100%;
	}
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul ul ul ul ul {
		left: 100%;
	}
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child > .dropdown-menu,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) > .dropdown-menu,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu ul ul ul ul ul ul ul ul ul {
		right: auto;
	}

}

/* - min to max: 992 to 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	html[dir="rtl"] .blog-right .entry-meta > div {
		margin-right: 8px;
		padding-right: 8px;
	}
	html[dir="rtl"] .blog-right .entry-meta > div:last-child {
		margin-right: 8px;
		padding-right: 8px;
	}
	html[dir="rtl"] .blog-right .entry-meta > div:first-child {
		margin-right: 0;
		padding-right: 0;
	}
	
	/* - Comment Area */
	html[dir="rtl"] .comment-body { 
		padding-left: 30px;
	}
	html[dir="rtl"] .comment-list .children {
		margin-left: 0;
		margin-right: 20px;
	}
}

/* - max-width: 991 */
@media (max-width: 991px) {
	/* - Top Header */
	html[dir="rtl"] .ownavigation .navbar-header {
		float: none;
	}
	html[dir="rtl"] .ownavigation .navbar-header .navbar-brand {
		float: right;
	}
	html[dir="rtl"] .ownavigation .navbar-toggle {
		float: left;
	}
	html[dir="rtl"] .ownavigation .ddl-switch {
		right: auto;
		left: 0;
	}
	/* - Nav Dropdown */
	html[dir="rtl"] .ownavigation .dropdown-menu {
		float: right;
		padding-left: 0;
		padding-right: 10px;
		text-align: right;
	}
	
	html[dir="rtl"] .blog-right .entry-meta > div {
		margin-right: 8px;
		padding-right: 8px;
	}
	html[dir="rtl"] .blog-right .entry-meta > div:last-child {
		margin-right: 8px;
		padding-right: 8px;
	}
	html[dir="rtl"] .blog-right .entry-meta > div:first-child {
		margin-right: 0;
		padding-right: 0;
	}
	html[dir="rtl"] .comment-body { 
		padding-left: 20px;
	}
	html[dir="rtl"] .comment-list .children {
		margin-right: 0;
	}
}

/* - max-width: 767 */
@media (max-width: 767px) {
	/* - Why Us */
	html[dir="rtl"] .why-us-details.owl-theme .owl-controls .owl-nav,
	html[dir="rtl"] .blog-right.owl-theme .owl-controls .owl-nav {
		display: inline-block;
	}
	html[dir="rtl"] .why-us-details.owl-theme .owl-controls .owl-nav .owl-prev,
	html[dir="rtl"] .blog-right.owl-theme .owl-controls .owl-nav .owl-prev {
		float: left;
	}
	html[dir="rtl"] .why-us-details.owl-theme .owl-controls .owl-nav .owl-next,
	html[dir="rtl"] .blog-right.owl-theme .owl-controls .owl-nav .owl-next {
		float: right;
	}
	html[dir="rtl"] .fact-box {
		text-align: right;
	}
	
	/* - Comment Area */
	html[dir="rtl"] .comment-body {
		padding-right: 20px;
	}
	html[dir="rtl"] .comment-meta {
		padding-left: 0px;
		padding-right: 100px;
	}
	html[dir="rtl"] .comment-author .avatar {
		right: 0;		
	}
	html[dir="rtl"] .comment-list .children {
		padding-right: 0;
	}
}

/* - max-width: 479 */
@media(max-width: 479px){
	
}